<nav class="navbar navbar-expand-lg position-absolute-top bg-body-tertiary position"  >
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Tech Somachar</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/" class="nav-link" >Home</a>
                 </li>
                 <li class="nav-item">
                     <a href="/bangladesh" class="nav-link">Bangladesh</a>
                 </li>
                 <li class="nav-item">
                     <a href="/world" class="nav-link">World</a>
                 </li>
                 <li class="nav-item">
                     <a href="/contact" class="nav-link">Contact</a>
                 </li>
            </ul>
            <div class="btn-group">
                <button class="btn btn-lg btn-primary"><a  href="/signup" class="text-decoration-none text-light">Signup</a></button>
                <button class="btn btn-lg btn-dark"><a class="text-decoration-none text-light" href="/login">Login</a></button>
            </div>
         </div>
    </div>
</nav>
<div style="background-color: aliceblue;">
    <div class="ms-5 p-5" style="height: 33vh;">
        <h1 class="text-center mt-3">Bangladesh  sit amet consectetur adipisicing elit. Labore?</h1>
        <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt velit quos quam fugiat
            neque accusantium vitae eius tempore tenetur ad, inventore enim deleniti nesciunt distinctio qui eum,
            temporibus minima odit est impedit sequi non? Sed, at! Natus praesentium ad doloremque, animi excepturi
            magnam accusantium possimus totam alias inventore magni perspiciatis aperiam sapiente suscipit voluptatum
            culpa rerum sed ipsam unde eius error dolor? Architecto, quasi rem doloribus at perspiciatis libero
            repellendus veritatis cumque ea voluptate officia soluta ullam enim reiciendis. Nam eos culpa tenetur at.
            Nobis vero quisquam deserunt, nihil voluptatem optio fuga et blanditiis ullam, itaque quae. Odit, magnam
            eaque. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum consequuntur totam, suscipit
            pariatur vero iusto esse minus dolorem quam mollitia exercitationem sit, aut eius ullam cumque
            necessitatibus, ipsum error odit. Tempore perferendis iure amet, vel rem, laboriosam enim minus hic mollitia
            earum dolor consequatur, consectetur nostrum harum repellat quia corrupti?</p>
    </div>

    <!-- Carousel end -->

    <!-- Card Start -->

    <div class="row m-1 pt-5 px-1">

        <div class="card col-3 ms-3  shadow bg-body-tertiary mt-2" style="width: 22rem ;border: none">
            <img src="../../assets/homeaudio.jpg" class="card-img-top mt-1" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-3 ms-3  shadow bg-body-tertiary mt-2" style="width: 22rem ;border: none">
            <img src="../../assets/homeaudio.jpg" class="card-img-top mt-1" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-3 ms-3  shadow bg-body-tertiary mt-2" style="width: 22rem ;border: none">
            <img src="../../assets/homeaudio.jpg" class="card-img-top mt-1" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-3 ms-3  shadow bg-body-tertiary mt-2" style="width: 22rem ;border: none">
            <img src="../../assets/homeaudio.jpg" class="card-img-top mt-1" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>

    <div class="row m-1 pt-5 px-1">

        <div class="card col-3 ms-3  shadow bg-body-tertiary mt-2" style="width: 22rem ;border: none">
            <img src="../../assets/homeaudio.jpg" class="card-img-top mt-1" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-3 ms-3  shadow bg-body-tertiary mt-2" style="width: 22rem ;border: none">
            <img src="../../assets/homeaudio.jpg" class="card-img-top mt-1" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-3 ms-3  shadow bg-body-tertiary mt-2" style="width: 22rem ;border: none">
            <img src="../../assets/homeaudio.jpg" class="card-img-top mt-1" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-3 ms-3  shadow bg-body-tertiary mt-2" style="width: 22rem ;border: none">
            <img src="../../assets/homeaudio.jpg" class="card-img-top mt-1" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>

</div>